body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin: 20px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}