@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg: #152533
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg);
}

.card {
    position: relative;
    transition: 0.5s;
    height: 100px;
    transition-delay: 0.5s;
}

.card.active {
    height: 450px;
    transition-delay: 0s;
}

.card .user {
    position: relative;
    width: 400px;
    min-height: 150px;
    background: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 60px 40px 30px;
}

.card .user .imgBx {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #fff;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
}

.card .user .imgBx img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .user .content {
    position: relative;
    text-align: center;
}

.card .user .content h2 {
    font-size: 1.2em;
    line-height: 1.05em;
    font-weight: 600;
    color: #fff;
}

.card .user .content h2 span {
    font-size: 0.75em;
    font-weight: 400;
}

.card .user .toggle {
    position: absolute;
    bottom: 0;
    width: 120px;
    padding: 5px 15px;
    background: #fff;
    border-radius: 30px;
    transform: translateY(50%);
    border: 6px solid var(--bg);
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;
}

.card.active .user .toggle {
    background: #ff4383;
    color: #fff;
}

.card .user .toggle::before {
    content: 'Hire me';
}

.card.active .user .toggle::before {
    content: 'Close';
}

.card .contact {
    position: relative;
    top: 30px;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
}

.card.active .contact {
    height: 325px;
}

.card .contact li {
    list-style: none;
    width: 100%;
    min-height: 100px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
    padding: 10px 30px;
}

.card.active .content li {
    opacity: 1;
    transform: scale(1);
    transition-delay: calc(0.25s * var(--i));
}

.card.active .contact:hover li {
    opacity: 0.15;
    filter: blur(2px);
    transition-delay: 0s;
}

.card.active .contact li:hover {
    opacity: 1;
    filter: blur(0px);
}

.card .contact li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.card .contact li a .iconBx {
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .contact li a .iconBx i {
    color: #fff;
    font-size: 1.5em;
}

.card .contact li a p {
    color: #666;
    font-size: 1.1em;
}

.card .contact li a:hover p {
    color: #111;
}