@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #071111;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.box {
    position: relative;
    width: 320px;
    height: 400px;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}

.box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(30px);
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.box:nth-last-child(1):before,
.box:nth-child(1):after {
    background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
    background: linear-gradient(315deg, #03A9F4, #ff0058);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.box b {
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.box img {
    position: absolute;
    scale: 0.8;
    opacity: 0.25;
    transition: 0.5s;
    z-index: 3;
}

.box:hover img {
    scale: 0.6;
    transform: translateY(-70px);
    opacity: 0.9;
}

.content {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    transform: scale(0);
    z-index: 2;
}

.box:hover .content {
    bottom: 35px;
    transform: scale(1);
}

.box h2 {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 2;
    font-weight: 500;
    line-height: 1em;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.box h2 span {
    position: relative;
    font-weight: 300;
    font-size: 0.75em;
}

.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
}

.sci li {
    list-style: none;
}

.sci li a {
    color: rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s;
}

.sci li a:hover {
    color: rgba(255, 255, 255, 1);
}