* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2196f3;
}

.tab {
    position: relative;
    width: 400px;
    height: 80px;
    z-index: 1;
    user-select: none;
}

.tab .menuToggle {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #ff3b7e;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.5em;
    transition: 1s ease-in-out;
}

.tab.active .menuToggle {
    transform: translateX(-50%) rotate(225deg);
}

.tab .circular,
.tab .circularbg1,
.tab .circularbg2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 80px;
    background: #fff;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    transform-origin: top center;
    transition: 1s ease-in-out;
}

.tab .circularbg1 {
    background: #8bc34a;
    transition: 0.6s ease-in-out;
    transition-delay: 0.4s;
}

.tab .circularbg2 {
    background: #ffeb3b;
    transition: 0.8s ease-in-out;
    transition-delay: 0.2s;
}

.tab.active .circular,
.tab.active .circularbg1,
.tab.active .circularbg2 {
    transform: translateX(-50%) rotate(180deg);
}

.tab.active .circularbg1,
.tab.active .circularbg2 {
    transition-delay: 0s;
}

.tab ul.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
}

.tab ul.circle li {
    list-style: none;
    display: flex;
    position: absolute;
    cursor: pointer;
}

.tab ul.circle li:nth-child(1) {
    transform: translate(50px, -15px);
}

.tab ul.circle li:nth-child(2) {
    transform: translate(0, 15px);
}

.tab ul.circle li:nth-child(3) {
    transform: translate(-50px, -15px);
}

.tab ul.circle li ion-icon {
    transform: rotate(180deg);
    font-size: 1.25em;
    color: #bbb;
    pointer-events: none;
}

.tab ul.circle li:hover ion-icon {
    color: #ff3b7e;
}

.tab ul.menu {
    position: absolute;
    inset: 0;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.1);
}

.tab ul.menu li {
    list-style: none;
}

.tab ul.menu li ion-icon {
    font-size: 1.5em;
    color: #bbb;
    /* pointer-events: none; */
}

.tab ul.menu li:hover ion-icon {
    color: #2196f3;
}