* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.wrapper {
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
	text-align: center;
	margin-bottom: 30px;
}

.add-task {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.add-task input {
	flex-grow: 1;
	padding: 10px;
	border: none;
	border-bottom: 2px solid #ccc;
	font-size: 16px;
}

.add-task button {
	padding: 10px;
	border: none;
	background-color: #4CAF50;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.add-task button:hover {
	background-color: #3e8e41;
}

.tasks {
	padding: 0;
	list-style-type: none;
}

.tasks li {
	padding: 15px;
	margin-bottom: 10px;
	background-color: #f2f2f2;
	border-radius: 5px;
	color: #444;
	font-size: 16px;
	cursor: move;
}

.tasks li:hover {
	background-color: #ddd;
}
