.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
}

.cell:hover {
    background-color: #f5f5f5;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}