* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.loader {
    position: relative;
    width: 400px;
    height: 4px;
    background: #000;
}

.loader::before {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    background: #0bec7c;
    transform-origin: left;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0%,20% {
        transform: scaleX(0);
    }
    40% {
        transform: scaleX(1);
        transform-origin: left;
    }
    40.000001%,60% {
        transform: scaleX(1);
        transform-origin: right;
    }
    80%,100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

.loader::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 10px;
    height: 10px;
    background: #0bec7c;
    border-radius: 50%;
    animation: animateDot 8s linear infinite;
}

@keyframes animateDot {
    0% {
        transform: translateY(-50%) scale(0);
    }
    5% {
        transform: translateY(-50%) scale(1);
    }
    15%,20% {
        transform: translateY(-50%) scale(1);
        box-shadow: 0 0 0 4px #0bec7c22,
        0 0 0 10px #0bec7c22,
        0 0 20px #0bec7c,
        0 0 40px 5px #0bec7c,
        0 0 60px 10px #0bec7c;
    }
    40% {
        transform: translateY(-50%) translateX(395px) scale(1);
    }
    80% {
        transform: translateY(-50%) translateX(395px) scale(1);
        box-shadow: 0 0 0 4px #0bec7c22,
        0 0 0 10px #0bec7c22,
        0 0 20px #0bec7c,
        0 0 40px 5px #0bec7c,
        0 0 60px 10px #0bec7c;
    }
    95% {
        transform: translateY(-50%) translateX(395px) scale(1);
        box-shadow: none;
    }
    100% {
        transform: translateY(-50%) translateX(395px) scale(0);
    }
}